[Unit]
Description=Containerer
After=network.target

[Service]
ExecStart=/root/containerer/flask/bin/gunicorn app:app
WorkingDirectory=/root/containerer

[Install]
WantedBy=multi-user.target
