[Unit]
Description=RQ
After=network.target

[Service]
ExecStart=/root/containerer/flask/bin/rq worker
WorkingDirectory=/root/containerer

[Install]
WantedBy=multi-user.target
