body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  background-color: rgb(21, 21, 21);;
  padding-top: 5px;
}

pre {
    background-color: rgb(7, 9, 11);
    color: rgb(236, 233, 225);
}

.github a:link {
    color: white;
}

.github a:visited {
    color: white;
}

.github a:hover {
    color: #696969;
}

.top-pad {
    padding-top: 5em;
}
