{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="row">
        <div id="cont" class="col-md-12">
            {% if container %}
                <p>Container hash: {{container.hash}}</p>
                <p>Connection info: {{container.username}}@{{host}} port {{container.port}}</p>
                <pre>{{container.privkey}}</pre>
                <p>Expiry in <span id="expiry">--m --s<span></p>
                <button type="button" class="btn btn-warning" id="key">Download Key</button>
                <button type="button" class="btn btn-danger" id="take">Expire now</button>
            {% else %}
                <button type="button" class="btn btn-primary" id="give">Give me a container</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
<script>
$( document ).ready(function()
{
    $("#give").click(function(){
	$.ajax ( { 
		url: "/startcontainer",
		type: "GET",
		success: function (d) {
		    location.reload();
		}
	} );
    });
{% if container %}
    function expire_container (){
	$.ajax ( { 
		url: "/expire/{{container.hash}}",
		type: "GET",
		success: function (d) {
		    location.reload();
		}
	} );
    };
    $("#take").click(function(){
        expire_container();
    });
    $("#key").click(function(){
        window.location.replace("/getkey/{{container.hash}}")
    });
    //https://www.geeksforgeeks.org/create-countdown-timer-using-javascript/
    var deadline = new Date("{{container.expiry.isoformat()}}").getTime();
    var x = setInterval(function() {
        var now = new Date().getTime();
        var t = deadline - now;
        var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((t % (1000 * 60)) / 1000);
        document.getElementById("expiry").innerHTML = minutes + "m " + seconds + "s ";
        if (now > deadline) {
            clearInterval(x);
            alert("kldfsj");
            // don't worry kids, it expires on the backend too even if this
            // isn't called. no hakking allowed.
            expire_container();
            location.reload();
            document.getElementById("expiry").innerHTML = "EXPIRED";
        }
    }, 1000);
{% endif %}
});
</script>
{% endblock footer %}
